* {
    padding: 2px;
    margin: 0;
}
html {
  box-sizing: border-box;
  font-family: arial, sans-serif;  
}
*, *:before, *:after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  font-size: 13px;
  opacity: 0.75;
  padding-left: 15px;
  text-decoration: none;
  color: black;
}
a:hover {
  text-decoration: underline;
  opacity: 1;
}
#left-link {
  position: absolute;
  margin: 11px 0 0 12px;
}
#right-link {
  position: absolute;
  right: 30px;
  display: flex;
  align-items: center;
}
#footer-left-link {
  position:absolute;
}
#footer-right-link {
  display:flex;
  justify-content: flex-end;
  margin-right: 30px;
}
#icon {
  font-size: 24px
}
main {
  text-align: center;
  position: absolute;
  bottom: 50%;
  right: 50%;  
  margin-right: -292px;
}
footer {
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  color: rgba(34,34,34,.75);
  background: #f2f2f2;  
  border-top: 3px solid #e4e4e4;  
  padding-left: 10px;
}
#search-box{
  margin: 20px auto;
  border-radius: 3px;
  border: none;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.22),0 0 0 2px rgba(0,0,0,0.08);
  height: 42px;
  width: 590px;
   
}
#button-box{
  background-color: #f2f2f2;
  border: none;
  background: #f2f2f2;
  border-radius: 3px;
  font-weight: bold;
  border: 1px solid #f2f2f2;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  height: 36px;
  width: 125.75px;
  cursor: default;
}
#button-box:hover {
    background-color: #f8f8f8;
    color: #222;
    border: 1px solid #c6c6c6;
}
.search-buttons{
  -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
